/* 

.container{
    width: 30vw;
    height: 8vh;
    border: 1px solid red;
}

h1{
    background-color: yellow;
    font-weight: 700;
    color: red;
}

.sticky{
    position: sticky;
    top: 20px;
}

.relative{
    /* position: relative; }*/


/* according to body element */
/* relative and absolute->work together */
/* .absolute{
    position: absolute;
    top: 20px;
    right:30px;
}

/*  work-window*/
/* .fixed{
    position: fixed;
    bottom: 20px;
    right: 30px;
}  */
  
.container{
    width:40vw;
    height:80vh;
    border:1px solid red;
}

h1{
    background:yellow;
    font-weight:700;
    color:red;
}
.sticky{
    /* /work accoring to paired/ */
    position: sticky;
    top:30px;
}

.relative{
    position: relative;
}

.absolute{/* 
    //when position relative not given work according to body  ,, relative and absolute work together/ */
    position: absolute;
    top:20px;
    right: 40px;
}

.fixed{
    /* /according to window/screen/ */
    position: fixed;
    bottom: 20px;
    right: 20px;
}