.gridContainer {
  border: 1px solid black;
  height: 90vh;
  display: grid;
  grid-template-columns: 100px 200px 300px 400px;
  grid-template-rows: 100px 100px;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-columns: 100px repeat(4, 200px);

  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: 100px 100px;

  gap: 10px;
  align-content: center;
}

.Item {
  color: red;
  border: 1px solid;
  background-color: yellow;
  /* padding: 30px 40px; */
  width: 15px;
}

.Item:nth-child(1) {
  grid-column-start: 3;
  grid-column-end: -1;
  grid-column: 3/-1;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-row: 2/3;
}

.item:nth-child(8) {
  grid-column: 2/3;
  grid-row: 1/2;
}

body {
  height: 100vh;
  display: flex;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "head head head" "navbar maincontent aside" "footer footer footer";
}

header {
  grid-area: head;
  background-color: black;
  color: white;
  padding: 10px;
}

nav {
  grid-area: navbar;
  background-color: green;
  color: yellow;
  border: 1px solid;
}

main {
  grid-area: maincontent;
  background-color: yellow;
  color: red;
  border: 1px solid;
}

aside {
  grid-area: aside;
  background-color: blue;
  color: green;
}

footer {
  grid-area: footer;
  background-color: black;
  color: white;
  padding: 10px;
}

.flexItem:hover {
  transform: translateY(10px);
}
/* 576px less than 576px for mobiles */
/* 768 between  577px-768px tabs */
/* 992px between 769px-992px samll screens */
/* 1200px between 933px-1200px normal */

@media (max-width: 576px) {
  body {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "head head"
      "navbar mainContent"
      "Footer Footer";
  }
  aside {
    display: none;
  }
  .flexItem {
    font-size: 20px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  body {
    grid-template-columns: 3fr 1fr;
    grid-template-rows:
      "head head head"
      "mainContent aside"
      "Footer Footer";
  }
  nav {
    display: none;
  }
}
