body{
    background-color:rgb(241, 241, 241);
    text-align: center;
}

#he1{
    border: 4px solid rgb(255, 4, 0);
    padding: 10px;
    /* margin :10px; */
}
#front{
    background-color: blue;   
    color: rgb(255, 245, 245);
    border-radius: 10px;
}

#main1{
    margin-top: 20px;
    text-align:justify;
    margin-inline-start: auto;
}

.divt{
    background-color:rgb(232, 241, 244);
    border-radius: 7px;
    border: 2px solid white;
    margin: 20px;
    padding: 10px;
}

#divmain{
    border-radius: 10px;
    margin: 200px;
    margin-right: 200px;
    background-color: white;
    padding: 40px;
    margin-top: 100px;
}

#box{
    border: 5px solid blue;
    padding: 8px;
    width: 300px;
    margin-left: 23px;
    background-color: rgb(255, 255, 145);
}

#boxid{
    padding-left: 19px;
}

#sub{
    text-align: left;
    margin-left: 22px;
}