body{
    display: flex;
    background-color: rgb(250, 247, 244);
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 300px;
    justify-content: center;
    /* position: absolute; */
    left:600px;
    background-color:rgb(203, 200, 200);
    padding: 20px;
    width: 250px;
    height: 320px;
}

#output {
    margin-top: 20px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    margin-left: 330px;
}
